@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inter", ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
      "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
  }

  h1 {
    @apply text-2xl font-bold leading-7 text-gray-900  sm:text-3xl sm:truncate;
  }
  h2 {
    @apply text-lg font-bold leading-7 text-gray-900  sm:text-2xl sm:truncate;
  }
  h3 {
    @apply text-base font-bold leading-7 text-gray-900  sm:text-base sm:truncate;
  }
}

@layer utilities {
  .bold-link {
    @apply text-white hover:underline rounded-md p-4 bg-gradient-to-r from-green-400 to-blue-500 shadow-md;
  }

  .simple-link {
    @apply hover:text-blue-600;
  }

  .card {
    @apply bg-gray-50 p-3;
  }

  .form-group {
    @apply w-full my-3;
  }

  .form-input {
    @apply block border-2 w-5/6 rounded-md p-2;
  }

  .btn-submit {
    @apply text-white bg-blue-500 rounded-md px-6 py-3 hover:bg-blue-700;
  }

  .task-table {
    @apply table-auto w-full text-lg;
  }
  .task-table-td {
    height: 40px;
  }
  .task-text {
    @apply text-left;
  }
  .task-dueDate {
    @apply text-center;
    min-width: 160px;
  }
  .task-delete {
    @apply text-center;
    min-width: 40px;
  }
  .task-delete-btn {
    @apply cursor-pointer text-gray-400 hover:text-red-700 p-2;
  }

  .featured-section {
    min-height: 200px;
  }
  .favorites-section {
    @apply mt-4;
  }
  .recent-section {
    @apply mt-4;
  }

  .btn-loadMore {
    @apply text-white bg-gray-600 rounded-md px-6 py-3 hover:bg-gray-800;
  }

  .post-link > div > h2,
  h3 {
    @apply hover:underline;
  }

  .blog-post p {
    @apply mt-2;
  }
}
